<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ValideLogin</filter-name>
        <filter-class>filtre.ValideLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ValideLogin</filter-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValideLogin</filter-name>
        <url-pattern>/MyAccount</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServelet</servlet-name>
        <servlet-class>controleur.IndexServlet</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>oracle.jdbc.OracleDriver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ListServelet</servlet-name>
        <servlet-class>controleur.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailleServelet</servlet-name>
        <servlet-class>controleur.DetailleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheAjaxServelet</servlet-name>
        <servlet-class>controleur.RechercheAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechercheQuanAjaxServelet</servlet-name>
        <servlet-class>controleur.RechercheQuanAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>controleur.LoginAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controleur.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>controleur.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingAjaxServlet</servlet-name>
        <servlet-class>controleur.ShoppingAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controleur.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterInfo</servlet-name>
        <servlet-class>controleur.RegisterInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccount</servlet-name>
        <servlet-class>controleur.MyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreServlet</servlet-name>
        <servlet-class>controleur.GenreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServelet</servlet-name>
        <url-pattern>/IndexServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServelet</servlet-name>
        <url-pattern>/ListServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailleServelet</servlet-name>
        <url-pattern>/DetailleServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheAjaxServelet</servlet-name>
        <url-pattern>/rechercheAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechercheQuanAjaxServelet</servlet-name>
        <url-pattern>/rechercheQuantityAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/ShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingAjaxServlet</servlet-name>
        <url-pattern>/ShoppingAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterInfo</servlet-name>
        <url-pattern>/RegisterInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccount</servlet-name>
        <url-pattern>/MyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreServlet</servlet-name>
        <url-pattern>/GenreServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/erreur/erreur500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/erreur/erreur404.jsp</location>
    </error-page>
</web-app>
